/* -------------------------------------------------
   Tailwind layers
   ------------------------------------------------- */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------- Base ---------- */
@layer base {
  body {
    /* Modo oscuro permanente */
    @apply m-0 text-white bg-gradient-to-br from-zinc-900 via-zinc-900 to-black;
  }
}

/* ---------- Utilidades personalizadas ---------- */
@layer utilities {
  .perspective     { perspective: 1000px; }
  .backface-hidden { backface-visibility: hidden; }
  .rotate-y-180    { transform: rotateY(180deg); }
}

/* ---------- Personalización barra de reproducción ---------- */
input[type="range"] {
  height: 6px;
  border-radius: 9999px;
}

input[type="range"]::-webkit-slider-thumb {
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #10b981; /* emerald-500 */
  margin-top: -4px;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #10b981;
  cursor: pointer;
}
